@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root {
    --main-white: #f0f0f0;
    --main-darkBlue:#12232E;
    --main-lightBlue:#007CC7;
    --main-lightestBlue: #4DA8DA;
    --main-shadowdarkBlue:#203647;
    --main-shadowlightBlue:#203647;
    --main-yellow:#ffd000;
}

* {
    margin: 0;
    padding: 0;
}

*, ::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/*font-size @ 1200px */
@media (max-width: 75em) {
    html {
        font-size: 60%;
    }
}

/*font-size @ 980px */
@media (max-width: 61.25em) {
    html {
        font-size: 58%;
    }
}

/*font-size @ 460px */
@media (max-width: 28.75em) {
    html {
        font-size: 55%;
    }
}

/* base style */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;  
    font-weight: 300;
    line-height: 1.4;
    color: var(--main-white);
}

h2 {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

/*
h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4.2rem;
}
 */

ul {
    list-style: none;
}


a {
    text-decoration: none;
    color: var(--main-white);
}

img {
    display: block;
    width: 100%;
}

/* nav */
.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--main-darkBlue);
}

.myLogo {
    position:absolute;
    top:-2px;
    left:10rem;
    width:70px;
    height:70px;
    overflow:hidden;
}

.nav-list {
    display: flex;
    margin-right: 10rem;
}

@media (max-width: 28.75em) {
    .nav {
        justify-content: center;
    }
    .nav-list {
        margin: 0 1rem;
    }
}

.nav-list a {
    display: block;
    font-size: 1.8rem;
    text-transform: uppercase;
    padding: 2rem 3rem;
}

.nav-list a:hover {
    background: var(--main-shadowdarkBlue);
}

/* welcome section */
.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 100%;
    height: 100vh;
    background-color: var(--main-darkBlue);
    background-image: url("wallpaper.jpg");
    background-color: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    height: 650px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome-section > div > h1, h2, p {
    text-align: left;
    margin-left: 10rem;
    font-family: 'Noto Sans', sans-serif;
    font-size: 3.5rem;
}

.name {
    color: var(--main-yellow);
}

.welcome-section > div > p {
    font-size: 2rem;
}

/* projects section */
.projects-section {
    text-align: center;
    padding: 10rem 2rem;
    background: var(--main-shadowdarkBlue);
}

.projects-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2re solid var(--main-white);
}

@media (max-width: 2828.75em) {
    .projects-section-header {
        font-size: 4rem;
    }
}

/* Automatic imgage grid without using media queries */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

@media (max-width: 30.62rem) {
    .projects-section {
        padding: 6rem 1rem;
    }
    .projects-grid {
        grid-template-columns: 1fr;
    }
}

.project {
    background: var(--main-violet2);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}

.code {
    color: var(--main-violet);
    transition: color 0.3s ease-out;
}

.project:hover .code {
    color: #ff7f50;
}

.project-image {
    height: calc(100% - 61.8rem);
    width: 100%;
    object-fit: cover;
}

.project-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
}

.btn-show-all {
    font-size: 2rem;
    background: var(--main-brown);
    transition: background 0.3s ease-out;
}

.btn-show-all:hover {
    background: var(--main-violet);
}

/* contact section */
.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    background: var(--main-yellow);
}

.contact-section-header > h2 {
    font-size: 6rem;
}

@media (max-width: 28.75em) {
    .contact-section-header > h2 {
        font-size: 4rem;
    }
}

.contact-section-header > p {
    font-style: italic;
}

.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
}

.contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
}

.contact-details:hover {
    transform: translateY(8px);
}

/* footer */
footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: var(--main-violet2);
    border-top: 4px solid var(--main-violet);
}

footer > p {
    margin: 2rem;
}

@media (max-width: 28.75em) {
    footer {
      flex-direction: column;
      text-align: center;
    }
  }